NODE_ENV=
LOGGER_LEVEL=
PORT=
DB_PASSOWRD=
DB_NAME=
DB_HOST=
DB_PORT=
DB_USER=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_SECRET=
GOOGLE_CALLBACK_URL=
MAILER_SECRET_KEY=
MAILER_EMAIL=
MAILER_SERVICE=
SENTRY_DSN=
SENTRY_ENABLED=true