{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint", "simple-import-sort"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-type-checked",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "unicorn/prefer-module": "off",
    "unicorn/prefer-top-level-await": "off",
    "unicorn/prevent-abbreviations": "off"
  },
  "overrides": [
    {
      "files": ["*.ts"],
      "rules": {
        "simple-import-sort/imports": [
          "error",
          {
            "groups": [
              [
                "^(assert|buffer|child_process|cluster|console|constants|crypto|dgram|dns|domain|events|fs|http|https|module|net|os|path|punycode|querystring|readline|repl|stream|string_decoder|sys|timers|tls|tty|url|util|vm|zlib|freelist|v8|process|async_hooks|http2|perf_hooks)(/.*|$)"
              ],
              ["^node:.*\\u0000$", "^@?\\w.*\\u0000$", "^[^.].*\\u0000$", "^\\..*\\u0000$"],
              ["^\\u0000"],
              ["^node:"],
              ["^@?\\w"],
              ["^@src(/.*|$)"],
              ["^@core(/.*|$)"],
              ["^@contexts(/.*|$)"],
              ["^"],
              ["^\\."]
            ]
          }
        ]
      }
    },
    {
      "files": ["src/**"],
      "rules": {
        "no-console": "warn"
      }
    },
    {
      "files": ["tests/**"],
      "plugins": ["jest"],
      "rules": {
        "@typescript-eslint/unbound-method": "off",
        "jest/unbound-method": "error",
        "jest/expect-expect": "off"
      }
    }
  ],
  "env": {
    "node": true,
    "jest": true
  }
}
