{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "baseUrl": "./",
    "paths": {
      "@/src/*": ["src/*"],
      "@/app/*": ["src/app/*"],
      "@/contexts/*": ["src/contexts/*"],
      "@/shared/*": ["src/contexts/shared/*"],
      "@/tests/*": ["tests/*"]
    },
    "target": "esnext"
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  },
  "minify": false
}
